<div class="custom-topic-count">
  <span class="custom-topic-count-title">{{i18n "categories.topics"}}:</span>
  <div class="custom-topic-count-topics">
    <div title={{this.category.statTitle}}>{{html-safe
        this.category.stat
      }}</div>
    {{category-unread category=this.category tagName="div" class="unread-new"}}
  </div>
</div>