<div class="custom-topic-count">
  <span class="custom-topic-count-title">{{i18n "categories.topics"}}:</span>
  <div class="custom-topic-count-topics">
    <div title={{category.statTitle}}>{{html-safe category.stat}}</div>
    {{category-unread category=category tagName="div" class="unread-new"}}
  </div>
</div>